*{
    margin: 0px;
    padding: 0px;
}

.wrapper{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.up{
    flex-grow: 1;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.top{
    min-height: 768px;
}


@import url(https://fonts.googleapis.com/css?family=Lato);

*, *:before, *:after{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

/*| Navigation |*/
nav{
  position: fixed;
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  box-shadow: 0 3px 10px -2px rgba(0,0,0,.1);
  border: 1px solid rgba(0,0,0,.1);
}
  nav ul{
    list-style: none;
    position: relative;
    
    display: inline-table;
  }
    nav ul li{
      float: left;
      -webkit-transition: all .2s ease-in-out;
      -moz-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out;
    }

    nav ul li:hover{background: rgba(0,0,0,.15);}
    nav ul li:hover > ul{display: block;}
    nav ul li{
      float: left;
      -webkit-transition: all .2s ease-in-out;
      -moz-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out;
    }
      nav ul li a{
        display: block; 
        padding: 30px 20px;
        color: #222; 
        font-size: .9em;
        letter-spacing: 1px;
        text-decoration: none;
        text-transform: uppercase;
      }
      nav ul ul{
        display: none;
        background: #fff;
        position: absolute; 
        top: 100%;
        box-shadow: -3px 3px 10px -2px rgba(0,0,0,.1);
        border: 1px solid rgba(0,0,0,.1);
      }
        nav ul ul li{float: none; position: relative;}
          nav ul ul li a {
            padding: 15px 30px; 
            border-bottom: 1px solid rgba(0,0,0,.05);
          }
          nav ul ul ul {
            position: absolute; 
            left: 100%; 
            top:0;
          }	

.whatwedo_card_box{
    display: flex;
    justify-content: space-between;
    padding-top: 128px;
    padding-bottom: 64px; 
}

.whatwedo_header{
    font-size: 36px;
    text-align: center;
    font-weight: 300;
    line-height: 46px;
    letter-spacing: 0.05em;
}

.whatwedo_card{
    width: 359px;
    padding: 44px 32px 0 32px;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #FFFFFF;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    display: flex;
    flex-direction: column;
}

.whatwedo_card_img{
    margin-bottom: 30px;
    height: 25vh;
    width: 31vh;
}

.whatwedo_card_text{
    font-size: 16px;
    line-height: 26px;
    color:#1F3F68;
    letter-spacing: 0.05em;
    opacity: 0.6;
    text-align: center;
    margin-bottom: 30px;
}

.footer{
    background: #316099;
    padding-top: 91px;
    padding-bottom: 64px;
}

.footer_top{
    padding-bottom: 96px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_top_content_text{
    width: 495px;
}

.footer_top_content_text_heading{
    width: 340px;
    text-align: left;
    color: #FFFFFF;
    margin-bottom: 32px;
    font-size: 36px;
    font-weight: 300;
    line-height: 46px;
    letter-spacing: 0.05em;
}

.text_footer{
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    letter-spacing: 0.05em;
    opacity: 0.6;
}

.footer_button{
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    padding: 15px 80px;
    background: #5A98D0;
    text-decoration: none;
}

hr{
    opacity: 0.4;
}

.footer_info{
    display: flex;
    justify-content: space-between;
    margin-top: 64px;
}

.footer_info_text{
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    flex-grow: 1;
    flex-basis: 33.3333%;
    list-style-type: none;
    display: flex;
    margin-right: 32px;
}

.footer_info_copyright{
    margin-top: 64px;
}

.footer_info_copyright_text{
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.4;
}

/* @media (max-width: 1024px) and (min-width:668px){
    .container{
        padding-left: 32px;
        padding-right: 32px;
    }

    .top_info{
        background-position-y:bottom;
    }

    .top_info_text{
        width: 50%;
    }

    .whatwedo_card_box{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .whatwedo_card{
        margin-bottom: 32px;
    }

    .footer{
        padding-top: 0;
    }

    .footer_top{
        display: flex;
        padding-bottom: 0;
    }

    .footer_top_content_text{
        padding-left: 92px;
        padding-top: 47px;
        padding-bottom: 64px;
        width: 45%;
    }

    .footer_button{
        margin-right: 92px;
        margin-left: 51px;
        width: 155px;
        padding: 3px 0 10px 0;
    }

    .footer_info{
        display: flex;
        flex-direction: column;
        margin-left: 92px;
    }

    .footer_info_text{
        padding-bottom: 25px;
        width: 455px;
    }

    .footer_info_copyright{
        margin-left: 92px;
        margin-top: 39px;
    }
}

@media(max-width: 667px){

    .whatwedo_header{
        font-size: 24px;
        line-height: 28px;
        text-align: center;
        color: #000000;
    }

    .whatwedo_card_box{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 32px;
        padding-bottom: 0;
    }

    .whatwedo_card{
        width: 100%;
        margin-bottom: 32px;
    }

    .whatwedo{
        padding-top: 48px;
        padding-left: 16px;
        padding-right: 16px;
    }

    .footer{
        padding-top: 0;
        margin-top: 0;
    }

    .footer_top{
        display: flex;
        flex-direction: column;
        padding-bottom: 0;
    }

    .footer{
        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 32px;
    }

    .footer_top_content_text{
        width: 100%;
    }


    .footer_top_content_text_heading{
        font-size: 24px;
        line-height: 28px;
        text-align: center;
        color: #FFFFFF;
        padding-top: 18px;
        width: 100%;
    }

    .text_footer{
        text-align: center;
        margin-bottom: 40px;
    }

    .footer_button{
        padding: 3px 20px;
        margin: 0 132px 40px 132px;
    }

    .footer_info{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 0;
        padding-top: 14px;
    }

    .footer_info_text{
        margin-top: 18px;
        width: 100%;
        margin-right: 0;
    }

    .footer_info_copyright{
        text-align: center;
        margin-top: 37px;
    }
   
} */